{{>header}}
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
  {{message.message}}
</div>
{{/if}}
{{>navbar}}

<div class="container mb-5 px-5">
        <div class="text-end group-btn-article">
            <a href="/editprovinsi/{{details.id}}">
                <img src="/public/icon/edit.svg" alt="">
            </a>
            <a href="/Delete/{{details.id}}">
                <img src="/public/icon/delete.svg" alt="">
            </a>
        </div>
        <img src="{{details.photo}}" alt="" class="thumbnail-article-detail">
    <div  class="text-title-content mt-4">
        {{details.nama}}
    </div>
     <div class="text-content mt-4">
     {{details.diresmikan}}
    </div>
    <div class="text-content mt-4">
     {{details.provinsi_id}}
    </div>
    
</div>

{{>footer}}